<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>

  <div class="ion-padding">
    <ion-button expand="full" shape="round" color="success" (click)="doRegistrasi()">Daftar</ion-button>
  </div>

  <footer class="ion-no-border">
    <div style="text-align: center;">
      <ion-label>Sudah mempunyai akun ? </ion-label>
      <ion-text color="success" [routerLink]="['/login']" routerLinkActive="router-link-active">
        <ion-label>Login</ion-label>
      </ion-text>
    </div>
  </footer>
</ion-content>